<!DOCTYPE html>
<html lang="ko-KR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Train</title>
	</head>

	<body>
		<div>
			<nav>
				<div>
					<h1>TRAIN__</h1>
				</div>
				<div>
					<div><a href={% url "account:login" %}>Login</a></div>
					<div><a href={% url "account:signup" %}>Sign up</a></div>
					<div>Log out</div>
				</div>
				<div><a href={% url "station:list" %}>STATION</a></div>
			</nav>
		</div>

		<div>
			<div>
				<div><h2>Route</h2></div>
				<div>
					<div>Project</div>
				</div>
			</div>
			<div>
				<div><h2>많이 본 글</h2></div>
				<div>
					<div>Project</div>
				</div>
			</div>
			<div>
				<div><h2>최근 작성 글</h2></div>
				<div>
					<div>Project</div>
				</div>
			</div>
		</div>
	</body>
</html>
