{% extends "base.html" %}
{% block page_content %}
{% load template_filters %}
<div class="page-title">
	<div class='main-title'><h1>TRAIN__</h1></div>
	<div class='menu'>
		<a href={% url "station:list" %}>STATION 으로&gt;&gt;</a>
	</div>
</div>

<div class="main-container">
	<div class='main-card-container'>
		<div class='main-card shadow-bottom'>
			<div class='main-card-title route shadow-bottom'><a href={% url "station:list" %}><h2>Route</h2></a></div>
			<div class='item-container'>
				<div class='inner'>
					{% for route in routes %}
					<a href={% url "route:list" route.name %}>
						<div class='item shadow-bottom-inset'>
							<div class='item-inner'>
								<div class='item-info-wrapper'>
									<div class='info'>
										<div class='info-sub'>
											<div class='content'>{{route.name|truncatechars:10}}</div>
										</div>
										<div class='info-sub'>
											<div class='title'>개척자: </div>
											<div class='content'>{{route.cheif.username|truncatechars:10}}</div>
										</div>
									</div>
									<div class='info'>
										<div class='info-sub'>
											<div class='title'>상태: </div>
											<div class='content inline-status'>{{route_status|get_item:route.name}}</div>
										</div>
										<div class='info-sub'>
											<div class='title'>게시물 수: </div>
											<div class='content'>{{post_number|get_item:route.name}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class='main-card shadow-bottom'>
			<div class='main-card-title hit shadow-bottom'><h2>많이 본 글</h2></div>
			<div class='item-container'>
				<div class='inner'>
					{% for hit in hit_posts %}
						<div class='item shadow-bottom-inset' onclick='location.href="{% url "route:post_detail" hit.route.name hit.pk %}"' style='cursor: pointer;'>
							<div class='item-inner'>
								<div class='item-info-wrapper'>
									<div class='info'>
										<div class='title'>제목: </div>
										<div class='content'>[{{hit.route.name}}] {{hit.title|truncatechars:26}}</div>
									</div>
									<div class='info'>
										<div class='title'>조회수: </div>
										<div class='content'>{{hit.count}}</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class='main-card shadow-bottom'>
			<div class='main-card-title recent shadow-bottom'><h2>최근 작성 글</h2></div>
			<div class='item-container'>
				<div class='inner'>
					{% for recent in recent_posts %}
						<div class='item shadow-bottom-inset' onclick='location.href="{% url "route:post_detail" recent.route.name recent.pk %}"' style='cursor: pointer;'>
							<div class='item-inner'>
								<div class='item-info-wrapper'>
									<div class='info'>
										<div class='title'>제목: </div>
										<div class='content'>[{{recent.route.name}}] {{recent.title|truncatechars:26}}</div>
									</div>
									<div class='info'>
										<div class='title'>작성 시간: </div>
										<div class='content'>{{recent.created_at|date:'Y-m-d  H:i:s'}}</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	const $route_status = document.querySelectorAll(".inline-status");
	Array.prototype.forEach.call($route_status, (content) => {
		if (content.innerText == "운행 전") {
			content.style.color = "orange";
		} else if (content.innerText == "운행 중") {
			content.style.color = "green";
		} else if (content.innerText == "운행 종료"){
			content.style.color = "#b61111";
		}
	});
</script>
{% endblock page_content %}
