@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, body, div, p, span, table, a{
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    flex-shrink: 0;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration-line: none;
}

a:link{
    color: inherit;
}

a:visited{
    color: inherit;
}

body, input, button{
    font-family: Pretendard-Regular;
}

.btn{
    width: auto;
    height: 32px;
    padding: 3px 8px 3px 8px;
    background-color: #5179c9;
    color: white;
    font-weight: bold;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.btn:active{
    background-color: #2555B4;
    transition: background-color 0.3s ease;    
}

.create{
    background-color: #479a5e;
}
.create:active{
    background-color: #1f462a;
    transition: background-color 0.3s ease;    
}

.edit{
    background-color:#EAA215 ;
}
.edit:active{
    background-color:#8a6722 ;
        transition: background-color 0.3s ease;    
}

.delete{
    background-color:#BF3E3E ;
}
.delete:active{
    background-color:#8a2626 ;
        transition: background-color 0.3s ease;    
}


.title{
    font-size: 48px;
    font-weight: bolder;    
}

.shadow-bottom{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.shadow-bottom-inset{
    box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.main-card-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    gap: 35px;
}

.main-card{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;

    box-sizing: border-box;
    background-color: #EEEEEE;
    border-radius: 22px;
}

.main-card-title{
    width: 100%;
    height: 60px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: italic;
    font-size: 24px;
    font-family: SBAggroB;

    border-radius: 22px 22px 0 0;    
    text-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.route{
    background-color: #2555B4;
}

.hit{
    background-color: #BF3E3E;
}

.recent{
    background-color: #EAA215;
}

.recent-comment{
    background-color: #BF3E3E;
}

.item-container{
    box-sizing: border-box;
    width: 100%;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 5px 20px 5px;
}
.item-container .inner{
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 100%;    
    overflow-y: overlay;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    flex-shrink: 0;
    width: 350px;
    height: 64px;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 16px;
    overflow-y: hidden;
    overflow-x: hidden;
    text-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.item:hover{
    animation-name: item-ani;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes item-ani{
    0%{
        box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
    }
    50%{
        box-shadow: none;
    }
    100%{
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    }
}

/* route/ station/ */
.page-title{
    width: 1300px;
    height: 100px;
    margin-top: 40px;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    display: flex;
    flex-shrink: 0;
    font-family: SBAggroB;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.page-title .menu{
    font-size: 32px;
    font-style: italic;
}

.page-title h1{
    display: flex;
    font-size: 64px;
    font-style: italic;
    align-items: baseline;
    gap: 12px;
}


.page-title h2{
    display: flex;
    font-size: 48px;
    font-style: italic;
    align-items: baseline;
    gap: 12px;
}

.main-container{
    flex: 1;
    width: 1300px;
    height: 1800px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
    margin-bottom: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: Pretendard-Regular;
}

.main-route-container{
    font-family: Pretendard-Regular;
    font-weight: bolder;
    width: 400px;
    height: 1800px;
    background-color: #EEEEEE;
    border-radius: 22px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.route-info{
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    background-color: white ;
    border-radius: 22px;
}

.user-list{
    width: 300px;
    height: 300px;
    border-radius: 22px;
    background-color: white;
    display: flex;
    margin-bottom: 30px;
}

.user-list-title{
    background-color: #2555B4;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: white;

    border-radius: 22px 22px 0 0;
}

.user-list-item-container{
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: overlay;
    flex-wrap: wrap;
}


.inline-user-link{
    display: inline-flex;
    height: 22px;
    padding: 0px 8px 0px 8px;
    margin: 5px;
    border: 2px solid #a3caee;
    border-radius: 16px;
    background-color: #a3caee;
}

.inline-user-link:hover{
    animation-name: user-link-scale;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes user-link-scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

.main-route-postlist-container{
    height: 1800px;
    flex-grow: 1;
    flex-basis: 0;
    background-color: #eeeeee;
    border-radius: 22px;
    padding: 30px;
    font-family: Pretendard-Regular;
}

.menu-area{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5px;
    margin-bottom: 10px; 
    border-bottom: 2px solid #666666;
}

.search{
    display: flex;
    margin-bottom: 5px;
}

.search input{
    height: 32px;
    border-radius: 4px;
    border: 2px solid #666666;
    outline: none;    
}

.search button{
    outline: none;
    border: none;
    background-color: #666666;
}

.sub-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.main-route-postlist{
    width: 884px;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: overlay;
}

.item-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 20px;
}

.item-wrapper .node-wrapper{
    width: 48px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.item-wrapper:first-child .node-wrapper :first-child{
    background-color: transparent;
}

.item-wrapper .node-wrapper .bar{
    width: 12px;
    height: 20px;
    background-color: #479a5e;
    z-index: 1;
    position: relative;
    top: 10px;
}

.item-wrapper .node-wrapper .bar:last-child{
    width: 12px;
    height: 38px;
    top: -12px;
}

.item-wrapper .node-wrapper .node{
    width: 48px;
    height: 48px;
    border-radius: 48px;
    flex-shrink: 0;
    margin-bottom: 16px;
    border: 10px solid #479a5e;
    position: relative;
    top: 8px;
    z-index: 99;
}

.item-wrapper .item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    width: 90%;
    height: 80px;
    background-color: white;
    color: black;
}

.item-wrapper .item:hover{
    background-color: #479a5e;
    color: white;
    transition: all 0.3s ease;
}
.item-info-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;

    font-family: Pretendard-Regular;
}

.item-info-wrapper .info{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.item-info-wrapper .info .title{
    font-size: 16px;
    font-weight: initial;
    width: 70px;
}

.item-info-wrapper .info .content{
    font-size: 16px;
    font-weight: bold;
    flex-grow: 1;
}
.item-info-wrapper .info .info-sub{
    width: 50%;
    display: flex;
    flex-direction: row;
}


.item-wrapper .first-post{
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.1em;
    background-color: #EAA215;
    font-weight: bold;
}

.item-wrapper .first-post:hover{
    animation: none;
    color: black;   
    background-color: #EAA215;
}

.item .extensions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.thumbnail-wrapper{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 3px solid #cccccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.post{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.post-info{
    height: 100px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: 20px;
}

.post-info h3{
    margin-bottom: 10px;
    font-size: 22px;
}

.post-info span{
    display: inline-block;
}

.post-info span:first-child{
    width: 350px;
}

.post .content-container{
    background-color: white;
    border-radius: 8px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    flex-basis: 0;
    overflow-y: overlay;    
}

.main-table-container{
    width: 1000px;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.main-table{
    width: 1000px;
    height: 500px;
    padding: 20px;
    border-radius: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.main-table .col-1{
    flex-grow: 2;
    flex-basis: 0;
}
.main-table .col-2{
    flex-grow: 2;
    flex-basis: 0;
}
.main-table .col-3{
    flex-grow: 1;
    flex-basis: 0;
}
.main-table .col-4{
    flex-grow: 1;
    flex-basis: 0;
}

.main-table .thead, .main-table .tbody{
    padding: 10px;
    height: 400px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    overflow-y: overlay;
}

.main-table .thead{
    background-color: #cccccc;
    height: 48px;
}

.main-table .tbody{
    flex-direction: column;
    overflow-y: overlay;
}
.main-table .tbody .titem{
    display: flex;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    gap: 16px;
}

.main-table .tbody .titem a{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-table .tbody .titem:hover{    
    animation-name: table-tr-ani;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes table-tr-ani{
    0%{
        box-shadow: none
    }
    100%{
        box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.25);
    }
}

.main-route-postlist .item{
    width: 90%;
}

/* comment */
.comment{
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.comment h3{
    height: 50px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.comment-view-area{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    flex-basis: 0;
    overflow-y: overlay;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
}

.comment-item-wrapper, .comment-post{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-start;
    align-items: center;
    height: 32px;
    gap: 4px;    
}

.comment-item-wrapper p:first-child, .comment-post p:first-child{
    border-left: 3px solid #5179c9;
    padding-left: 4px;
    font-weight: bold;
    flex: 2;
    flex-shrink: 0;
    flex-basis: 0;
}

.comment-item-wrapper p:nth-child(2){
    flex: 10;
    flex-basis: 0;
}

.comment-item-wrapper p:last-child{
    font-size: 14px;
    flex: 4;
    flex-shrink: 0;
    flex-basis: 0;
}

.comment-post{
    display: flex;
}

.comment-post input{
    border: none;    
    outline: none;
}

.comment-post input[type=text]{
    padding: 4px;
    width: 700px;
    box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.comment-post input[type=submit]{
    background-color: #2555B4;
    color: white;
    box-shadow: none;
}

/* profile */
.profile{
    background-color: #eeeeee;
    width: 1300px;
    height: 800px;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.card-wrapper{
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px
}

.profile-card-bg{
    background-color: white;
}

.profile-card-title{
    height: 48px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.profile-item-container{
    width: 300px;
    height: 252px;
}

.profile-item-container .inner{
    overflow-y: overlay;
}

.profile-item-container .item-info-wrapper{
    width: 280px;
}

.profile-item{
    width: 270px;
    background-color: #eeeeee;
}

.profile-item .item-info-wrapper{
    width: 250px;
}


/* base.html */
header{
    position: fixed;
    width: 100%;
    height: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: SBAggroB;
    font-style: italic;
    z-index: 1000;
}

.header-content-container{
    width: 1300px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.account-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}


footer{
    height: 46px;
    flex-shrink: 0;
    display: flex;

    background-color: #666666;
    color: white;
    font-family: Pretendard-Regular;
    justify-content: center;
    align-items: center;
}

footer nav{
    width: 1300px;
    z-index: 1000;
}


/* welcome */
.welcome
{
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.welcome-message{
    width: 500px;
    height: 100px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: white;
    font-family: SBAggroB;
}

.welcome-message p{
    font-size: 24px;
}

.welcome-menu{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.welcome-menu-btn{
    width: 150px;
    height: 50px;
    border-radius: 16px;
    color: white;
    background-color: #2555B4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SBAggroB;
}

.welcome-menu-btn:active{
    animation-name: item-ani;
    animation-duration: 0.1s;
    animation-timing-function: ease;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}


.to-main{
    color: black;
    background-color: #EAA215;
}

/* draw */
.draw-container{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.draw-content-wrapper{
    width: 96px;
    height: 96px;

    transform: rotate(-27deg);
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 90px;
    height: 90px;
    border-radius: 95px;
    border: 10px solid #b61111;
    position: relative;
}

.square{
    width: 96px;
    height: 30px;
    font-size: 23px;
    background-color: #eeeeee;
    font-family: SBAggroB;
    color: #b61111;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 33px;
    
}

/* create-view */

form textarea{
    height: 300px;
    width: 500px;
    padding: 5px;
    resize: none;
    border: none;
    border-radius: 4px;
    font-family: Pretendard-Regular;
    border: none;
    font-size: 16px;

    box-sizing: border-box;
}

form input{
    height: 28px;
    border-radius: 4px;
    font-family: Pretendard-Regular;
    font-size: 16px;
    box-sizing: border-box;
}

.form-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-post{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-wrapper{
    width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.form-wrapper form{
    width: 400px;
    height: 400px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
}

.form-post .form-wrapper{
    width: 1000px;
    height: 600px;
    background-color: #eeeeee;
}

.form-post .form-wrapper form{
    width: 900px;
    height: 500px;
    align-items: center;
}


.form-wrapper form label{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    flex-shrink: 0;
    width: 150px;
    margin-bottom: 5px;
}

.field-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;    
}


.help-text{
    color: #666666;
    font-size: 14px;
    margin-top: 5px;
}

.input-field{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-field input{
    padding-left: 4px;
    width: 200px;
    height: 28px;
}

.field-detail{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.field-detail label[for=image-clear_id]{
    font-weight: 100;
    width: 100px;
}

.field-detail a{
    display: inline-block;
    width: 100px;
    height: 28px;
}

.field-detail input[type=checkbox]{
    width: auto;
}

.input-area{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 500px;
}

.input-area a{
    visibility: hidden;    
}

.input-area a:before{
    /* width: 300px;
    overflow-x: hidden; */
    visibility: visible;
    content: '현재 이미지';
    background-color: #5179c9;
    color: white;
    padding: 3px;
    display: inline-flex;
    justify-content: center;
}

#id_status input[type=radio]{
    width: 34px;
    height: 16px;
}

#id_status label{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.post-form-file, .post-form-image{
    font-family: Pretendard-Regular;
    font-weight: bold;
}

.post-form-file::file-selector-button, .post-form-image::file-selector-button{
    background-color: #5179c9;
    color: white;
    padding: 3px;
    font-family: Pretendard-Regular;
    /* font-weight: bold; */
    border:none
}

.form-wrapper form > input:last-child{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5179c9;
    color: white;
    border: none;
}

.delete-form p{
    font-size: 36px;
    font-family: SBAggroB;
}

.delete-menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.delete-menu div{
    font-size: 22px;
    width: 200px;
    height: 30px;
    border-radius: 4px;
}


.delete-menu input{
    background-color: #b61111;
    font-size: 22px;
    font-weight: bold;
    color: white;
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
}

#account-form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.download{
    display: inline-block;
    color: white;
    background-color: #2555B4;
    text-align: center;
    width: 200px;
}


/* scroll bar effect */

/* ===== Scrollbar CSS ===== */
/* Firefox */
body {
    overflow-y: overlay; /* 반드시 overlay 처리 */
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.15);
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.3);
}

::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}