@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, body, div, p, span, table, a{
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    flex-shrink: 0;
}

a{
    text-decoration-line: none;
}

a:link{
    color: inherit;
}

a:visited{
    color: inherit;
}

body{
    font-family: SBAggroB;
}

.title{
    font-size: 48px;
    font-weight: bolder;
}



.main-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
}

.main-card{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;

    box-sizing: border-box;
    background-color: #EEEEEE;
    border-radius: 22px;

    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.25);
}

.main-card-title{
    width: 100%;
    height: 60px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: italic;
    font-size: 1.5em;

    border-radius: 22px 22px 0 0;    
    text-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.main-card-title a{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.route{
    background-color: #2555B4;
}

.hit{
    background-color: #BF3E3E;
}

.recent{
    background-color: #EAA215;
}

.main-card-item-container{
    box-sizing: border-box;
    width: 100%;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 5px 20px 5px;
}
.main-card-item-container .inner{
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 100%;    
    overflow-y: overlay;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-card-item{
    flex-shrink: 0;
    width: 350px;
    height: 54px;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 16px;
    text-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.main-card-item:hover{
    animation-name: item-ani;
    animation-duration: 0.3s;
    animation-duration: ease;
    animation-fill-mode: forwards;
}

@keyframes item-ani{
    0%{
        box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
    }
    50%{
        box-shadow: none;
    }
    100%{
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    }
}

.main-container{
    width: 1000px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.main-route-container{
    font-family: Pretendard-Regular;
    font-weight: bolder;
    width: 400px;
    height: 700px;
    background-color: #EEEEEE;
    border-radius: 22px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.route-info{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
}

.user-list{
    width: 300px;
    height: 300px;
    border-radius: 22px;
    background-color: white;
    box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
    overflow-y: overlay;
    display: flex;
    overflow-y: hidden;
    margin-bottom: 30px;
}

.user-list-title{
    background-color: #4A84BA;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.user-list-item-container{
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: overlay;
}


.inline-user-link{
    display: inline-flex;
    height: 22px;
    padding: 0px 8px 0px 8px;
    margin: 5px;
    border: 2px solid #dddddd;
    border-radius: 16px;
    background-color: #dddddd;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.inline-user-link:hover{
    animation-name: user-link-scale;
    animation-duration: 0.3s;
    animation-duration: ease;
    animation-fill-mode: forwards;
}

@keyframes user-link-scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

.main-route-postlist-container{
    height: 700px;
    background-color: #eeeeee;
    border-radius: 22px;
}

.post{
    width: 900px;
    height: 430px;
    padding:20px;
    
}

.post-info{
    display: flex;
}

.main-table-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-table{
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.main-table .col-1{
    flex-grow: 2;
    flex-basis: 0;
}
.main-table .col-2{
    flex-grow: 2;
    flex-basis: 0;
}
.main-table .col-3{
    flex-grow: 1;
    flex-basis: 0;
}
.main-table .col-4{
    flex-grow: 1;
    flex-basis: 0;
}

.main-table .thead, .main-table .tbody{
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main-table .thead{
    background-color: #EEEEEE;
    height: 48px;
}

.main-table .tbody{
    flex-direction: column;
    overflow-y: overlay;
}
.main-table .tbody .titem{
    display: flex;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    gap: 16px;
}

.main-table .tbody .titem a{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-table .tbody .titem:hover{    
    animation-name: table-tr-ani;
    animation-duration: 0.3s;
    animation-duration: ease;
    animation-fill-mode: forwards;
}

@keyframes table-tr-ani{
    0%{
        box-shadow: none
    }
    100%{
        box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.25);
    }
}

.main-route-postlist .item{
    
}


/* scroll bar effect */

/* ===== Scrollbar CSS ===== */
/* Firefox */
body {
    overflow-y: overlay; /* 반드시 overlay 처리 */
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.15);
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.3);
}

::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}