{% extends "base.html" %} {% block page_content %}
<div class="page-title">
	<h2>{{page_title}}</h2>
</div>
<div class="main-container">
	<div class="profile shadow-bottom form-post">
		<div class="menu-area">
			<div class="sub-menu"></div>
		</div>
		<div class="form-wrapper">
			<form class="delete-form" method="POST" enctype="multipart/form-data">
				<p>작성한 "{{post.title}}" 포스트를 삭제합니다.</p>
				{% csrf_token %} {% for field in form %}
				<div class="field-wrapper">
					<div class="input-field">
						<label>{{field.label}}</label>
						<div class="input-area"><div class="field-detail">{{field}}</div></div>
					</div>
					<div class="help-text">{{field.help_text}}</div>
				</div>
				{% endfor %}
				<div class="delete-menu">
					<div
						class="btn"
						onclick='location.href="{{request.path}}.."'
						style="cursor: pointer">
						취소
					</div>
					<input class="delete" type="submit" value="네" />
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock page_content %}
