{% extends "route/route_base.html" %} {% block route_page_content %}
<div class="menu-area">
	<div class="btn"><a href="{{request.path}}..">Route로 돌아가기</a></div>
	{% if user == post.author %}
	<div>
		<div class="btn edit"><a href="{{request.path}}post_edit/">수정하기</a></div>
		<div class="btn delete"><a href="{{request.path}}post_delete/">삭제하기</a></div>
	</div>
	{% endif %}
</div>

<div class="main-route-postlist">
	<div class="post">
		<div class="post-info">
			<div>
				<h3>{{post.title}}</h3>
			</div>
			<div>
				<span>작성자: {{post.author.username}}</span>
				<span>조회수: {{post.count}}</span>
			</div>
			<div>
				<span>작성일: {{post.created_at|date:'Y-m-d H:i:s'}}</span>
				{% if post.created_at != post.updated_at %}
				<span>수정일: {{post.updated_at|date:'Y-m-d H:i:s'}}</span>
				{% endif %}
			</div>
		</div>
		<div class="content-container shadow-bottom-inset">
			<div class="content">
				{% if post.image %}
				<div>
					<img
						src="{{post.image.url}}"
						width="500px"
						onclick="window.open('{{post.image.url}}')"
						style="cursor: pointer"
						title="클릭해서 새 창에서 열기" />
				</div>
				{% endif %} {{post.content}}
			</div>
		</div>
	</div>
</div>
{% endblock route_page_content %}
