{% extends "route/route_base.html" %} {% block route_page_content %}
<div class="menu-area">
	<div class="sub-menu">
		<div class="btn" onclick="location.href='{{request.path}}..'" style="cursor: pointer">
			Route로 돌아가기
		</div>
		{% if user == post.author %}
		<div>
			<div
				class="btn edit"
				onclick="location.href='{{request.path}}post_edit/'"
				style="cursor: pointer">
				수정하기
			</div>
			<div
				class="btn delete"
				onclick='location.href="{{request.path}}post_delete/"'
				style="cursor: pointer">
				삭제하기
			</div>
		</div>
		{% endif %}
	</div>
</div>

<div class="main-route-postlist">
	<div class="post">
		<div class="post-info">
			<div>
				<h3>{{post.title}}</h3>
			</div>
			<div>
				<span>작성자: {{post.author.username}}</span>
				<span>조회수: {{post.count}}</span>
			</div>
			<div>
				<span>작성일: {{post.created_at|date:'Y-m-d H:i:s'}}</span>
				{% if post.created_at != post.updated_at %}
				<span>수정일: {{post.updated_at|date:'Y-m-d H:i:s'}}</span>
				{% endif %}
			</div>
		</div>
		<div class="content-container shadow-bottom-inset">
			<div class="content">
				{% if post.image %}
				<div>
					<img
						src="{{post.image.url}}"
						width="500px"
						onclick="window.open('{{post.image.url}}')"
						style="cursor: pointer"
						title="클릭해서 새 창에서 열기" />
				</div>
				{% endif %} {{post.content}}
			</div>
		</div>
	</div>
</div>
{% endblock route_page_content %}
