{% extends "base.html" %} {% block page_content %}
<div class="page-title"><h2>ERROR!</h2></div>
<div class="main-container">
	<div class="profile shadow-bottom welcome">
		<div class="welcome-message shadow-bottom-inset">
			<p>무언가 잘못되었습니다!</p>
		</div>
		<div class="welcome-menu">
			<div
				class="welcome-menu-btn shadow-bottom to-main"
				onclick='location.href="{% url "main:index" %}"'
				style="cursor: pointer"
				;>
				메인 홈으로
			</div>
		</div>
	</div>
</div>
{% endblock page_content %}
