<html>
	<head></head>
	<body>
		<form method="POST">
			{% csrf_token %}
			<p>
				<label for="id_name">Name:</label>
				<input type="text" name="name" maxlength="32" required="" id="id_name" />
			</p>

			<p>
				<p>Status:</p>
				<label>
					<input
						type="radio"
						name="status"
						maxlength="50"
						required=""
						id="id_status"
						value="운행 전" />운행 전
				</label>
				<lable>
					<input
						type="radio"
						name="status"
						maxlength="50"
						required=""
						id="id_status"
						value="운행 중" />운행 중
				</lable>
				<label>
					<input
						type="radio"
						name="status"
						maxlength="50"
						required=""
						id="id_status"
						value="운행 종료" />운행 종료
				</label>
			</p>
			<input type="submit" />
		</form>
	</body>
</html>
