{% extends "base.html" %}
{% block page_content %}
<div class='main-table-container'>
    <div class='main-table'>
        <div class='thead'>
            <div class='col-1'>Route</div>
            <div class='col-2'>최근 작성 시간</div>
            <div class='col-3'>상태</div>
            <div class='col-4'>포스트 수</div>
        </div>
        <div class='tbody'>
            {% for r in routes %}
            <div class='titem'>
                <a href={% url "route:list" r.name %}>
                    <div class='col-1'>
                        {{ r.name }}
                    </div>
                    <div class='col-2'>
                        {{ r.created_at }}
                    </div>
                    <div class='col-3'>
                        {{r.status}}
                    </div>
                    <div class='col-4'>
                        {{r.status}}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<p>
    <a href={% url "station:create" %}>Route 생성</a>
</p>
<p>
    <a href={% url "main:index" %}>홈으로</a>
</p>
{% endblock page_content %}

{% block script %}
<script>
const $route_status = document.querySelectorAll(".col-3");
Array.prototype.forEach.call($route_status, (content) => {
	if (content.innerText == "운행 전") {
		content.style.color = "orange";
	} else if (content.innerText == "운행 중") {
		content.style.color = "green";
	} else {
		content.style.color = "black";
	}
});
</script>
{% endblock script %}