{% extends "base.html" %}
{% block page_content %}
<div class='main-table-container'>
    <table class='main-table'>
        <thead>
            <tr>
                <th>Route</th>
                <th>최근 작성 시간</th>
                <th>상태</th>
                <th>포스트 수</th>
            </tr>
        </thead>
        <tbody>
            {% for r in routes %}
            <tr onClick="location.href='{% url "route:list" r.name %}'" class="main-table-tr">
                    <td>
                        {{ r.name }}
                    </td>
                    <td>
                        {{ r.created_at }}
                    </td>
                    <td>{{r.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p>
    <a href={% url "station:create" %}>Route 생성</a>
</p>
<p>
    <a href={% url "main:index" %}>홈으로</a>
</p>
{% endblock page_content %}